.vscode/**
.github/**
.vscode-test/**
wiki/**
web-doc/**
docs/**
node_modules/**
src/**
!src/assets/
!src/assets/**
scripts/**
.tmp/**
out/**
test-results/**
artifacts/**
.gitignore
.yarnrc
package-lock.json
esbuild.js
vsc-extension-quickstart.md
testingPrompt.md
*.vsix
*.log
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
